<div class="center">
  <%= form_tag password_resets_path, method: :post, class: 'form' do %>
    <h1 class="formHeader">Reset Password</h1>

    <p class="formInstructions">
      Enter your username or email below and then check your inbox for<br/> an email with password reset instructions.
    </p>

    <div class="formField">
      <%= label_tag :login, "Username/Email" %><br/>
      <%= text_field_tag :login %>
    </div>
    
    <div class="formSubmit">
      <%= submit_tag 'Reset Password' %>
    </div>
  <% end %>
</div>