<% if @conjoined_comments.present? %>  
  <% @conjoined_comments.each do |comment, details| %>
    <div class="comment">
      <% root_comment = true %>
      <%= render partial: 'comment', locals: {comment: comment, details: details, root_comment: root_comment} %>
      <% if details[:replies].present? %>
        <div class="postSubcomments">
          <div class="postSubcommentsDetail">
            <p>
              <b><%= pluralize(details[:replies].size, "reply") %> total</b> |
              <%= link_to "Hide replies", 'javascript:void(0);', onclick: 'collapseSubcomments(this);' %>
            </p>
          </div>
          <div class="subcommentList">
            <% details[:replies].each do |c, details| %>
              <% root_comment = false %>
              <%= render partial: 'comment', locals: {comment: c, details: details, root_comment: root_comment} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <i>No Comments</i>
<% end %>
