#commentList {
  margin:30px 0 80px 0;
  #commentListDetails {text-align:right;}
  .comment {
    margin-bottom:20px;
    .postComment {
      min-height:100px;
      margin:0;
      .postUser {top:0;}
      .postContent {
        display:block;
        margin:0;
        border:1px solid #ddd;
        min-height:100%;
        position:relative;
        background:#f8f8f8;
        border-radius:4px;
        p {margin:0; padding:10px; min-height:53px;}
        &:after, &:before {
          position:absolute;
          right:100%;
          top:10px;
          content: ' ';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #ddd transparent transparent;
        }
        &:after {border-width: 0 18px 18px 0; border-color:transparent #f8f8f8 transparent transparent; margin-top:1px;}
      }
      .postBottom {
        .commentDatestamp {font-size:10.5pt; color:#888; display:inline-block;}
        .commentReply {
          margin-top:2px;
          font-size:10.5pt;
          display:inline-block;
          .replyFormLoadLink {
            position:relative;
            padding-right:24px;
            &:after {
              position:absolute;
              right:0;
              content: ' ';
              height:14px;
              width:18px;
              top:3px;
              background-image:image-url('sprites/action_icons.png');
              background-position:-60px 0;
            }
            &:hover:after {background-position:-78px 0;}
          }
        }
        .postRep {
          height:16px;
          margin-top:2px;
          .like, .dislike {
            width:16px;
            height:16px;
            background-position:0 -24px;
            vertical-align:middle;
            &:hover {background-position:-24px -24px;}
            &:active, &.voted {background-position:-48px -24px;}
            &.voted {cursor:default;}
          }
          .dislike {
            background-position:-120px -24px;
            &:hover {background-position:-96px -24px;}
            &:active, &.voted {background-position:-72px -24px;}
          }
          .repCount {font-size:0.9em;}
        }
      }
    }
    .postSubcomments {
      padding-left:125px;
      margin-top:15px;
      .postSubcommentsDetail {
        font-size:10.5pt;
        text-align:right;
        position:relative;
        margin-left:25px;
        p {margin:0; display:inline-block; background:#fff; padding-left:10px;}
        &:before {
          position:absolute;
          content:" ";
          left:0;
          top:0;
          height:50%;
          width:100%;
          border-left:1px dotted #ccc;
          border-bottom:1px dotted #ccc;
          z-index:-1;
        }
      }
      .postComment {margin-top:10px;}
    }
  }
}