#faqForm {
  text-align:left;
  margin:0 0 20px;
  .formField {
    width:100%;
    margin:10px 0 0;
    input, textarea {width:100%; box-sizing:border-box; border:1px solid #ddd; border-radius:4px;}
    input[type='text'] {height:35px;}
    textarea {height:75px;}
  }
  .formSubmit {
    text-align:center;
    padding:10px 0 0 0;
    input[type='submit'] {
      width:300px;
      height:35px;
      background:orange;
      color:#fff;
      border:0;
      border-radius:4px;
    }
  }
}

#faqsIndex {
  font-size:0.8em;
  .faqList {
    width:33.3%;
    padding:0;
    float:left;
    li {margin-left:15px;}
  }
}

#faqs {
  .faq {
    margin:20px 0 0;
    .faqHeader, .faqBody {
      padding-left:80px;
      position:relative;
    }
    .faqSymbol {
      font-size:22pt;
      font-weight:normal;
      position:absolute;
      width:70px;
      text-align:right;
      left:0; top:0;
    }
    .faqHeader {
      font-size:22pt;
      margin-bottom:5px;
    }
  }
}