.form {
  display:inline-block;
  margin:55px auto;
  text-align:left;
  .formHeader {
    margin:0 0 10px;
    font-weight:300;
    font-size:2.2em;
  }
  .formInstructions {
    padding:15px;
    font-size:0.8em;
    border-radius:8px;
    background:#ff9;
    margin:8px 0;
  }
  .formField {
    margin-bottom:10px;
    display:inline-block;
    position:relative;
    label {font-size:1.2em; text-transform:capitalize;}
    .fieldReq {float:right; color:#aaa; font-size:0.7em; padding-top:0.8em;}
    input[type="text"], input[type="password"], input[type="email"], textarea {
      border:1px solid #ccc;
      border-radius:4px;
      padding:8px 4px;
      width:400px;
      box-shadow:0 3px 3px #eee inset;
      background:#f8f8f8;
    }
    textarea {font-family:sans-serif,arial; font-size:0.85em; height:250px;}
    .field_with_errors {
      display:inline-block;
      input {border-color:#f33;}
    }
    input.validError {border-color:#f33;}
    .parsley-errors-list {
      position:absolute;
      top:2.3em;
      left:100%;
      white-space: nowrap;
      font-size:12pt;
      margin:0 0 0 15px;
      padding-left:24px;
      color:#f33;
      li {
        list-style-type:none;
        font-size:0.85em;
        &:after {
          content:' ';
          position:absolute;
          left:0;
          top:2px;
          width:18px;
          height:18px;
          background-image:image-url('sprites/icon_sprite.png');
          background-repeat:no-repeat;
          background-position:-18px 0;
          overflow:hidden;
        }
      }
      .validField {
        color:green;
        &:after {background-position:0 0;}
      }
    }
    #emailFix {font-size:0.85em;}
  }
  .formSubmit {
    padding:5px 0 0 0;
    height:50px;
    input[type="submit"], button.submitBtn {
      background:orange;
      border:0;
      &:hover {cursor:pointer; background:#ffbb39;}
      &.disabled:hover, &.disabled {background-color:#FFD8B1;}
      &:focus {background-color:#ffbb39;}
    }
    .cancelForm {
      margin-left:10px;
      background:#f33;
      &:hover {background-color:#f66;}
    }
     button.submitBtn, .cancelForm, input[type="submit"] {
      display:inline-block;
      vertical-align: top;
      height:100%;
      color:#fff;
      padding:0 15px;
      font-size:13pt;
      font-weight:400;
      font-family:sans-serif, arial;
      border-radius:4px;
      line-height:50px;
      letter-spacing:-1px;
    }
    button.submitBtn, .cancelForm {
      .submitIcon, .cancelIcon {
        display:inline-block;
        height:26px;
        width:26px;
        vertical-align: middle;
        background-position:0 -14px;
        background-image:image-url('sprites/action_icons.png');
      }
      .cancelIcon {background-position:26px -14px;}
    } 
  }
  .formErrors {
    background:#f33;
    padding:25px;
    border-radius:8px;
    color:#fff;
    margin:0 0 8px;
    .errorsHeader {
      margin:0;
    }
    ul {
      margin:5px 0 0 0;
      li {font-size:0.9em;}
    }
  }
}

#postForm {
  .formField {
    input[type="text"], textarea {width:525px;}
    textarea {height:300px;}
  }
}

input::-moz-focus-inner {
  border: 0;
}