#wordTransition {
  display:inline;
  text-align:left;
  position:relative;
  #displayWordWrapper {
    width:100px;
    display:inline-block;
    #displayWord {
      color:#FF8C00;
      white-space: nowrap;
      vertical-align:text-bottom;
    }
  }
  #wordList {
    display:none;
    list-style-type:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
  }
}