#wordTransition {
  display:inline;
  text-align:left;
  position:relative;
  #displayWord {
    color:#FF8C00;
    width:100px;
    display:inline-block;
    white-space: nowrap
  }
  #wordList {
    display:none;
    list-style-type:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
  }
}