.postContraint {
  padding:0;
  padding-left:150px;
  position:relative;
  margin:30px 0 20px;
  .postTitle {
    margin:0;
    line-height:1.2;
  }
  .postActionLinks {
    font-size:0.85em;
    margin-top:5px;
    a {margin-right:5px;}
  }
  .postUser {
    position:absolute;
    text-align:right;
    left:0;
    top:0;
    width:120px;
    border-right:1px solid #ccc;
    height:100%;
    padding:0 15px 0 0;
    text-align:center;
    img {border-radius:5%;}
    .postUsername {font-size:1.1em;}
  }
  .postContent {
    margin:20px 0;
  }
  .postBottom {
    display:inline-block;
    .postTags {
      margin:0;
    }
  }
}