.ticket {
  margin:0 0 30px;
  .ticketHeader {
    margin:0 0 5px;
    span {font-weight:normal; color:#888;}
  }
  .ticketContent {margin:0 0 5px; font-size:0.9em;}
  .ticketBottom {
    font-size:0.9em;
    color:#888;
  }
}