<div class="postRep" id="<%= object_css_identifier(object, 'rep') %>">
  <%= voting_link(1.0, object, user_rep) %>
  <p class="repCount"><%= reputation_display(reputations) %></p>
  <%= voting_link(-1.0, object, user_rep) %>
</div>