<div class="banner">
  <h1 class="bannerHeader">We Want To Hear What You Have To Say!</h1>
  <div class="bannerContent"><%= link_to "Make A Suggestion", new_suggestion_path, class: 'bannerButton' %></div>
</div>

<div id="suggestionList">
  <% @suggestions.each do |suggestion| %>
    <div class="suggestionPreview">
      <div class="suggestionContent">
        <p class="suggestionTitle"><%= suggestion.title %></p>
        <p class="suggestionDescription"><%= suggestion.message %></p>
      </div>
    </div>
  <% end %>
</div>