<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>What Am I Thinking Of?</title>
</head>
<body style="padding:0; margin:0;">
  <table style="padding:0; border-collapse: collapse; font-family: sans-serif, arial; font-weight:300; color:#444; width:100%;">
    <thead>
      <tr>
        <th style="padding:0;">
          <div style="text-align:center; border-bottom:1px dashed #ccc;">
            <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/waito/assets/images/small_logo.png', alt: 'What Am I Thinking Of?'), root_url, style: 'margin:20px 0; display:inline-block;' %>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:0;">
          <div style="margin:30px;">
            <%= yield %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>